{% if students %}
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Mã học sinh</th>
            <th>Họ và tên</th>
            <th></th>
        </tr>
        {% for st in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ st.studentNo }}</td>
                <td>{{ st.studentName }}</td>
                <td>
                    <a href='{% url "updateStudent" st.id %}'>Chỉnh sửa</a>
                    <a href='{% url "deleteStudent" st.id %}'>Xóa</a>                    
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<a href='{% url "createStudent"  %}''>Thêm học sinh</a>