{% if students %}
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Mã học sinh</th>
            <th>Họ và tên</th>
            <th></th>
        </tr>
        {% for st in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ st.studentNo }}</td>
                <td>{{ st.studentName }}</td>
                <td>
                    <a href='/edit_student/{{st.id}}'>Chỉnh sửa</a>
                    <a href='/delete_student/{{st.id}}'>Xóa</a>                    
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<a href='/add_student'>Thêm học sinh</a>